<div class="overlay">
<div class="mainDiv">
    <div class="btn btn-secondary btnClose" (click)="closeIntent()">x</div>
    <div class="overflowDiv">
    <div class="mt-4">
        <span>Title: </span>
        <input class="formfield" type="text" [readonly]="node.type == 'connect'" [(ngModel)]="nodeLabel">
    </div>
    <div *ngIf="type == 'intent'" class="mt-4">
        <div><b>User Inputs:</b></div>
        <div *ngFor="let intent of nlu; let i = index;trackBy: trackByFn">
            <input class="formfield" type="text" [(ngModel)]="nlu[i]">
            <span class="m-1 btn btn-danger" (click)="deleteNlu(i)" title="Delete">x</span>
        </div>
        <div style="text-align:left"><span class="m-1 btn btn-primary" (click)="newNlu()">New</span></div>
    </div>
    <br>
    <div class="mt-2">
        <div><b>Next Node:</b></div>
        <div style="margin-top:10px">
            <span style="margin-right:10px"><input style="margin-right:4px;" type="radio" name="nodeType"
                    [checked]="nodeType == 'intent'" (change)="changeNodeType('intent')">User Input</span>
            <span style="margin-right:10px"><input style="margin-right:4px;" type="radio" name="nodeType"
                    [checked]="nodeType == 'response'" (change)="changeNodeType('response')">Options</span>
            <span style="margin-right:10px"><input style="margin-right:4px;" type="radio" name="nodeType"
                    [checked]="nodeType == 'text'" (change)="changeNodeType('text')">Response</span>
            <span style="margin-right:10px"><input style="margin-right:4px;" type="radio" name="nodeType"
                [checked]="nodeType == 'connect'" (change)="changeNodeType('connect')">Connect to our Agent…</span>
        </div>

        <div *ngIf="nodeType == 'response'">
            <div style="margin: 10px 0;">
                <span>Title: </span>
                <input class="formfield" type="text" [(ngModel)]="nextResponse.text">
            </div>
            <div *ngFor="let button of nextResponse.buttons;let i=index">
                <input class="formfield" type="text" [(ngModel)]="button.title" [readonly]="button.id != 0">
                <span class="m-1 btn btn-danger" (click)="deleteButton(i)" title="Delete">x</span>
            </div>
            <div class="m-1 btn btn-primary" (click)="newButton()">New</div>
        </div>
        <div *ngIf="nodeType == 'intent'">
            <input class="formfield" type="text" [(ngModel)]="nextIntent" [readonly]="!isEndNode">
        </div>
        <div *ngIf="nodeType == 'text'">
            <input class="formfield" type="text" [(ngModel)]="nextText" [readonly]="!isEndNode">
        </div>
        <div *ngIf="nodeType != ''" class="m-1 btn btn-danger" (click)="deleteNode()">Delete Node</div>
    </div>

    <div style="text-align:center"><span class="m-1 btn btn-success" (click)="saveData()">Save</span></div>
</div></div>

</div>