<div class="btn btn-secondary" (click)="closeIntent()">close</div>
<div class="mt-4">
    <span>Title: </span>
    <input type="text" name="" id="" [(ngModel)]="nodeTitle">
</div>
<div *ngIf="type == 'intent'" class="mt-4">
    <div *ngFor="let intent of nlu; let i = index;trackBy: trackByFn">
        <input type="text" [(ngModel)]="nlu[i]">
        <span class="m-1 btn btn-danger" (click)="deleteNlu(i)">delete</span>
    </div>
    <span class="m-1 btn btn-primary" (click)="newNlu()">New</span>
</div>
<!-- <ng-template #elseTemplate>
    <input type="text" name="" id="" [(ngModel)]="templateText">
    <span>Buttons:</span>
    <span *ngIf="templateButtons">
        <div *ngFor="let button of templateButtons; let i = index;trackBy: trackByFn">
            <input type="text" [(ngModel)]="templateButtons[i].title">
            <span>delete</span>
        </div> -->
<!-- <button *ngFor="let button of template.buttons">{{button.title}}</button> -->
<!-- </span>
    <span (click)="newButton()">New</span>
    <span (click)="saveButtonData()">Save</span>

</ng-template> -->
<div class="mt-2">
    <div>Next Node:</div>
    <div>

        <input type="radio" name="nodeType" id="" [checked]="nodeType == 'intent'" (change)="nodeType = 'intent'" >User Input

        <input type="radio" name="nodeType" id="" [checked]="nodeType == 'response'" (change)="nodeType = 'response'" >Send Options

        <input type="radio" name="nodeType" id="" [checked]="nodeType == 'text'" (change)="nodeType = 'text'" >Send Response

    </div>

    <div *ngIf="nodeType == 'response'" >
        <div>
            <span>Title:</span>
            <input type="text" name="" id="" value="please select">
        </div>
        <div *ngFor="let response of responses;let i=index">
            <input type="text" name="" id="" [value]="response.title">
            <span class="m-1 btn btn-danger" (click)="deleteResponse(i)">delete</span>
        </div>
        <div class="m-1 btn btn-primary" (click)="newResponse()">New</div>
    </div>
    <div *ngIf="nodeType == 'intent'" >
        <input type="text" name="" id="" [(ngModel)]="nextIntent" [readonly]="!isEndNode">
    </div>

    <div *ngIf="nodeType == 'text'" >
        <input type="text" name="" id="" [(ngModel)]="nextText" [readonly]="!isEndNode">
    </div>

</div>

<span class="m-1 btn btn-success" (click)="saveData()">Save</span>