<div (click)="closeIntent()">close</div>
<input type="text" name="" id="" [value]="this.node.title">
<ng-container *ngIf="type == 'intent'; else elseTemplate">
    <div *ngFor="let intent of nlu; let i = index;trackBy: trackByFn">
        <input type="text" [(ngModel)]="nlu[i]">
        <span>delete</span>
    </div>


    <span (click)="newNlu()">New</span>
    <span (click)="saveNluData()">Save</span>
</ng-container>
<ng-template #elseTemplate>
    <!-- leave this start -->
    <input type="text" name="" id="" [(ngModel)]="templateText">
    <span>Buttons:</span>
    <span *ngIf="templateButtons">
        <div *ngFor="let button of templateButtons; let i = index;trackBy: trackByFn">
            <input type="text" [(ngModel)]="templateButtons[i].title">
            <span>delete</span>
        </div>
        <!-- <button *ngFor="let button of template.buttons">{{button.title}}</button> -->
    </span>
    <span (click)="newButton()">New</span>
    <span (click)="saveButtonData()">Save</span>
<!-- leave this end -->

</ng-template>
<div>
    <span>Add next</span>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="" id="" value="checkedValue"> intent
            <input class="form-check-input" type="radio" name="" id="" value="checkedValue"> response
        </label>
    </div>
    <div>title:</div>
    <input type="tel" name="" id="" value="please select">
    <div *ngFor="let target of targets">
        <input type="text" name="" id="" [value]="target.title">
        <span>delete</span>
    </div>

    <span>New</span>
    <span>Save</span>
</div>