.btnNormal{
    background: #4040bd;
    display: inline-block;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    margin: 5px;
}
.btn-actions{
    text-align: center;
    /* margin-bottom: 10px; */
    position: fixed;
    padding: 10px 0;
    width: 100%;
    bottom: 0px;
    background: #fff;
    border-top: 1px solid #ddd;
}
ngx-graph {
    pointer-events: none;
}
.node{
  pointer-events: all
}

